<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row navbar-container">
            <div class="col-md-12">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-github-square fa-fw d-inline-block align-top " style="font-size: 25px;"></i>
                    Github View
                    </a>
                </nav>
            </div>

        </div>
        <div class="row main-conent"></div>
        <div class="row footer"></div>


    </div>
    
</body>
</html>