<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <div class="row navbar-container">
            <div class="col-md-12">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-github-square fa-fw d-inline-block align-top " style="font-size: 25px;"></i>
                    Github View
                    </a>
                </nav>
            </div>

        </div>
        <div class="row main-conent ">
            <div class="col-md-3 username-input ">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-9">
                <app-pageview ></app-pageview>
            </div>

            <div class="col-md-9"></div>
        </div>
        <!-- <div class=" bg-dark row footer">
            
            <footer class="page-footer font-small blue">

                
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://github.com/">Github</a>
                </div>
            
            
            </footer>
 
        </div> -->


    </div>
    
</body>
</html>